<div class="slideshow-container">
{{#each step}}
<div class="mySlides">
	<!-- HOLDS THE TEXT AND INFO -->
	<div class="text-container">
		<!-- HEADER OF THE TEXT -->
		<div class="text-container-header">
			<h4>{{this.title}}</h4>
		</div>
		<!-- IMAGE -->
		<div class="career-image">
			<img src="smiley.gif" height="100" width="100">
		</div>
		<!-- TEXT PARAGRAPHS -->
		<div class="text-container-paragraph">
			<div class="small">
				<p class="text-expand-min">{{this.text}}</p>
			</div>
		</div>
	</div>
</div>
{{/each}}

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
	{{#each step}}
		<span class="dot" onclick="currentSlide({{this.number}})"></span>
	{{/each}}
<!-- 	<span class="dot" onclick="currentSlide(2)"></span> 
	<span class="dot" onclick="currentSlide(3)"></span>  -->
</div>

<div class="myPanel duties-container">
	<div class="panelHeader duties-container-header">
		<h4>What They Do</h4>
	</div>
	<div class="panelContent">
		<!-- IMAGE -->
		<div class="career-image">
			<img src="smiley.gif" height="100" width="100">
		</div>
		<ul class="list duties-list">
			{{#each duty}}
				<li>{{this}}</li>
			{{/each}}
		</ul>
	</div>
</div>

<div class="myPanel duties-container">
	<div class="panelHeader skills-container-header">
		<h4>Skills</h4>
	</div>
	<div class="panelContent">
		<!-- IMAGE -->
		<h5>Skills you might need: </h5>
		<ul class="list skills-list">
			{{#each skill}}
				<li>{{this}}</li>
			{{/each}}
		</ul>
	</div>
</div>
<div class="graphs" id="graphJobContainer">
	<canvas id="graphJobs" width="400" height="400"></canvas>
</div>
<div class="graphs" id="graphPercentContainer">
	<canvas id="graphPercent" width="400" height="400"></canvas>
</div>
<!-- FOR FLOATING PURPOSES -->
<div style="clear:both;"></div>
<script>
	var config = {
		type: 'line',
		data: {
			labels: [{{labels}}],
			datasets: [{
				label: 'Percentage',
				backgroundColor: window.chartColors.red,
				borderColor: window.chartColors.red,
				data: [{{datas}}],
				fill: false,
			}]
		},
		options: {
			responsive: true,
			title: {
				display: true,
				text: 'Chart.js Line Chart'
			},
			tooltips: {
				mode: 'point',
				intersect: false,
				callbacks: {
					label: function(tooltipItem, data) {
						var label = data.datasets[tooltipItem.datasetIndex].label || '';
						if(label == 'Percentage') {
							label += ': ';
							label += tooltipItem.yLabel + '%';
						}
						if(label == 'Number of Jobs') {
							label += ': ';
							label += tooltipItem.yLabel;
						}
						return label;
					}
				}
			},
			hover: {
				mode: 'point',
				intersect: true
			},
			scales: {
				xAxes: [{
					display: true,
					scaleLabel: {
						display: true,
						labelString: 'Month'
					}
				}],
				yAxes: [{
					ticks: {
						beginAtZero: false
					},
					display: true,
					scaleLabel: {
						display: true,
						labelString: 'Value'
					}
				}]
			}
		}
	};
	var config2 = {
		type: 'line',
		data: {
			labels: [{{labels2}}],
			datasets: [{
				label: 'Number of Jobs',
				fill: false,
				backgroundColor: window.chartColors.blue,
				borderColor: window.chartColors.blue,
				data: [{{datas2}}],
			}]
		},
		options: {
			responsive: true,
			title: {
				display: true,
				text: 'Chart.js Line Chart'
			},
			tooltips: {
				mode: 'point',
				intersect: false,
				callbacks: {
					label: function(tooltipItem, data) {
						var label = data.datasets[tooltipItem.datasetIndex].label || '';
						if(label == 'Percentage') {
							label += ': ';
							label += tooltipItem.yLabel + '%';
						}
						if(label == 'Number of Jobs') {
							label += ': ';
							label += tooltipItem.yLabel;
						}
						return label;
					}
				}
			},
			hover: {
				mode: 'point',
				intersect: true
			},
			scales: {
				xAxes: [{
					display: true,
					scaleLabel: {
						display: true,
						labelString: 'Month'
					}
				}],
				yAxes: [{
					ticks: {
						beginAtZero: true
					},
					display: true,
					scaleLabel: {
						display: true,
						labelString: 'Value'
					}
				}]
			}
		}
	};
	
	window.onload = function() {
		var ctx = document.getElementById('graphJobs').getContext('2d');
		window.myLine = new Chart(ctx, config);
		var ctx2 = document.getElementById('graphPercent').getContext('2d');
		window.myLine = new Chart(ctx2, config2);
	};
</script>
<script type="text/javascript" src="/js/career-info-script.js"></script>


