<!-- views/partials/navbar.handlebars -->
{{#each msg}}
	<!-- CATEGORY HOLDER -->
	<div class="category-holder">
		<!-- HEADER -->
		<div class="info-heading">
			<h2><a href="/occupations/{{this.link}}">{{this.title}}</a></h2>
		</div>
		<!-- PARAGRAPH -->
		<div class="info-text">
			<p>{{this.description}}</p>
			<div class="occupation-stats">
				<p>Salary: {{this.average_salary}}</p>
				<p>Current Employment: {{this.employment}}</p>
				<p>Job Outlook: {{this.outlook}} new jobs</p>
			</div>
		</div>
		<!-- IMAGE -->
		<div class="info-image">
			<a href="/occupations/{{this.title}}">
				<img src="smiley.gif" height="100" width="100">
			</a>
		</div>
	</div>
{{/each}}